<p>Hi <%= recipientName %>!</p>
<p><%= senderName %> has shared a chocopie with you! Click on the below pie to eat</p>
<p><%= message %></p>
<a href=<%= pieURL %>><img src=<%= imageURL %> height="25%" width="25%"></a>
<p>Sincerely,</p>
<p> Asia Society </p>