<p>
  Hello <%= recipientName %>,
</p>
<p>
  Your friend <%= senderName %> would like to enjoy a virtual Chocopie together.  
</p>
<p>
  <br/><br/>
  <strong><%= senderName %> says: "<em><%= message %></em>"</strong>
</p>
<p>
  <a href=<%= imageURL %>><img src=<%= imageURL %> height="50%" width="50%" border="0"></a>
</p>
<br/><br/>
<p>
  "Eat Chocopie Together" is an art initiative by Korean artist <a href="http://www.minacheon.com/" style="font-weight:bold;">Mina Cheon</a>
  for the <a href="http://asiasociety.org/triennial" style="font-weight:bold;">Asia Society Triennial</a> (October 27, 2020 - June 27, 2021),
  a festival of art, ideas and innovation. The act of eating Chocopies together symbolizes a step towards global
  peace and supports the important work to address growing anti-Asian racism in our community. <a href="https://www.eatchocopietogether.com/about" style="font-weight:bold;">Click here to learn more.</a>
</p>

<p>
  By sharing this Chocopie with you, <%= senderName %> has automatically raised $1 towards the <a href="https://www.eatchocopietogether.com/about#giving-back" style="font-weight:bold;">Korean American Community Foundation COVID-19 Community Action Fund</a>
   in support of non-profit communities affected by the Coronavirus. To help promote unity and compassion, why not help raise another $1 by returning <%= senderName %>'s kind gesture? There's no money or registration required, just your participation.   
</p>
<p>
  To automatically raise $1 for charity, simply click on the link below:
</p>
<p>
  <a style="font-weight:bold;text-decoration:none;background-color:yellow;color:black;padding:.5em;border-radius:.5em;" href=<%= pieURL %> >Let's Eat Chocopie Together!</a>
<br/><br/><br/>
</p>

<p>
 <strong>Save The Date:</strong><br/>
  Join us on October 27, 2020, for the opening of the first edition of the <a href="http://asiasociety.org/triennial" style="font-weight:bold;">Asia Society Triennial</a>,
  <em>We Do Not Dream Alone</em>, at the Asia Society Museum in 
  New York City to experience interdisciplinary exhibitions, 
   programs, and performances.
</p>
<p>
  Don’t miss Mina Cheon’s artwork installed in the Asia Society Museum in Part 2: March 16, 2021 – June 27, 2021 as well as her special installation of the physical “Eat Chocopie Together.” 
</p>
<p>
  "Eat Chocopie Together" is made possible by the generosity of the Korea Foundation, and an anonymous donor to the Korean American Community Foundation. 
</p>
<p>
  Thank you! 
</p>
<p>
  Sincerely, <br/><a href="https://www.eatchocopietogether.com" style="font-weight:bold;">The Eat Chocopie Together Team</a>
</p>