<p>
  Hello <%= recipientName %>,
</p>
<p>
  Your friend <%= senderName %> would like to share a virtual Chocopie together with you for global peace. "Eat Chocopie Together" is an art initiative by Korean artist <a href="http://www.minacheon.com/" style="font-weight:bold;">Mina Cheon</a>
  for the <a href="http://asiasociety.org/triennial" style="font-weight:bold;">Asia Society Triennial</a>,
  a festival of art, ideas and innovation by the Asia Society Museum, New York. The act of eating Chocopies together symbolizes a step towards global
  peace and supports the important work to address growing the anti-Asian racism in our community. <a href="https://www.eatchocopietogether.com/about" style="font-weight:bold;">Learn More &raquo;</a>
</p>
<p>
  By sharing this Chocopie with you, <%= senderName %> has automatically raised $1 towards the <a href="https://www.eatchocopietogether.com/about#giving-back" style="font-weight:bold;">Korean American Community Foundation COVID-19 Community Action Fund</a>
   in support of non-profit communities affected by the Coronavirus. An anonymous donor has already made a generous pledge to support the efforts in reaching the goal. <strong>You can help raise an additional $1 by "eating" <%= senderName %>'s Chocopie.</strong> 
</p>
<p style="font-weight:bold;font-size:large;">
  It's free to participate. <a style="color:darkblue;" href=<%= pieURL %> >Simply click here to accept: Yes, Let's Eat Chocopie Together!</a>
<br/><br/>
</p>
<p>
  <strong><%= senderName %> says: <em>"<%= message %>"</em></strong>
  <br/>
</p>
<p>
  <a href=<%= pieURL %>><img src=<%= imageURL %> height="334" width="500" border="0"></a>
</p>
<p>
  <strong>Click to accept <%= senderName %>'s Chocopie:</strong> <a style="font-weight:bold;color:darkblue;" href=<%= pieURL %> >Yes, Let's Eat Chocopie Together!</a>
<br/><br/><br/>
</p>

<p>
 <strong>Save The Date:</strong><br/>
  Join us on October 27, 2020, for the opening of the first edition of the <a href="http://asiasociety.org/triennial" style="font-weight:bold;">Asia Society Triennial: <em>We Do Not Dream Alone</em></a> (October 27, 2020 - June 27, 2021), at the Asia Society Museum in 
  New York City to experience interdisciplinary exhibitions, 
   programs, and performances. 
</p>
<p>  
  Don’t miss Mina Cheon’s artwork installed in the Asia Society Museum in Part 2: March 16, 2021 – June 27, 2021 as well as her special installation of the physical “Eat Chocopie Together.” 
</p>
<p>
  "Eat Chocopie Together" is made possible by the generosity of the Korea Foundation, and an anonymous donor to the Korean American Community Foundation. 
</p>
<p>
  Thank you! 
</p>
<p>
  Sincerely, <br/><a href="https://www.eatchocopietogether.com" style="font-weight:bold;">The Eat Chocopie Together Team</a>
</p>
<br/><br/>