<p>
  Hello <%= recipientName %>,
</p>
<p>
  <strong>Your friend <%= senderName %> would like to enjoy a ChocoPie Together with you.</strong>
</p>
<p>
  This is an art initiative by Korean-American contemporary artist <a href="http://www.minacheon.com/" style="font-weight:bold;">Mina Cheon</a>
  for the inaugural <a href="http://asiasociety.org/triennial" style="font-weight:bold;">Asia Society Triennial</a> (October 27, 2020 - June 27, 2021),
  a festival of art, ideas and innovation. To the artist, the act of eating
  ChocoPies together symbolizes compassion and humanity, a step towards global
  peace. <a href="http://eatchocopietogether.com" style="font-weight:bold;">Learn more here</a>.
</p>
<p>
  <img src=<%= imageURL %> height="25%" width="25%">
</p>
<p><%= senderName %> says: "<em><%= message %></em>"</p>
<p>
  By sharing this ChocoPie with you, <%= senderName %> has raised $1 towards 
  <a href="http://eatchocopietogether.com/about#giving-back" style="font-weight:bold;">the Korean American Community Foundation COVID-19 Action Fund</a>
   in support of non-profit communities affected by the Coronavirus pandemic.
</p>
<p>
  To reciprocate your friend’s kind gesture, and to raise another 
  $1 for charity, simply click on the button below to “Eat Chocopie Together”.   
</p>
<p>
  <a style="font-weight: bold; font-size: large; color:red;" href=<%= pieURL %> >EAT CHOCOPIE TOGETHER!</a>
</p>

<p>
  Thank you and please help share <a href="http://eatchocopietogether.com" style="font-weight:bold;">EatChocoPieTogether.com</a>
</p>